repos:
-   repo: https://github.com/ambv/black
    rev: 18.9b0
    hooks:
    - id: black
      args: [--line-length=120]
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
    - id: isort
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
    - id: flake8
      additional_dependencies: [flake8~=3.6.0]
-   repo: git://github.com/skorokithakis/pre-commit-mypy
    rev: v0.610
    hooks:
    - id: mypy
      args: [-s]
-   repo: local
    hooks:
    - id: gitchangelog
      language: system
      always_run: true
      pass_filenames: false
      name: Generate changelog
      entry: bash -c "gitchangelog > CHANGELOG.md"
      stages: [commit]
