repos:
-   repo: https://github.com/ambv/black
    rev: 18.5b1
    hooks:
    - id: black
      args: [--line-length=120]
      python_version: python3.6
-   repo: git://github.com/doublify/pre-commit-isort
    rev: v4.3.0
    hooks:
    - id: isort
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.3.0
    hooks:
    - id: flake8
      additional_dependencies: [flake8~=3.6.0]
-   repo: git://github.com/skorokithakis/pre-commit-mypy
    rev: v0.1.0
    hooks:
    - id: mypy
      args: [-s]
